<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}" />

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <title>Techcares Inc</title>
</head>
<body>

<header class="center-block" th:fragment="header">

    <img src="img/s_ke.png" class="center-block" width="100px">

    <label class="text-uppercase text-center center-block" style="color: #aa2906">republic of kenya</label>
    <label class="text-uppercase text-center center-block" style="color: #aa2906">the registration of births and deaths act</label>
    <label class="text-capitalize text-center center-block" style="color: #aa2906"><i>&lbbrk;cap. 149&rbbrk;</i></label>
    <label class="text-uppercase text-center center-block" style="color: #aa2906">application for registration of birth of a citizen of kenya</label>

</header>
<script type="text/javascript"
        th:src="@{/webjars/jquery/1.11.1/jquery.min.js/}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"></script>
</body>
</html>
